# Configuration Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=generer-une-cle-secrete-tres-forte-ici

# Configuration Base de données (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=12345678
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ciento_immobilier_db

# Chemins de stockage
UPLOAD_FOLDER=app/static/uploads
